<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jquery.range.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/jquery.range.js' %}"></script>
    <title>Create A Cocktail</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navigation">
        <div id="navigation" class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/home">HS here</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/your_bar">Your Bar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/create_cocktail">Create A Cocktail <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/codex">Codex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/log_out">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>    
    </nav>
    <div class="mx-auto pad_these" style="width: 450px;">
        <h2>Add a Cocktail</h2>
        <form action="/cocktail_add" method="POST">
            {% csrf_token %}
            <label for="name">Drink Name:</label>
            <input type="text" name="name" id="name" class="form-control" value="{{this_cocktail.name}}">
            <label for="desc">Tell us how to make it</label>
            <textarea name="desc" id="" cols="30" rows="10" class="form-control"></textarea>
            <!-- these are my ingredient fields to be controlled by Javascript tags -->
            
            <!-- <label for="">Number of Ingredients:</label>
            <input type="text" id="total" name="total" placeholder="0" class="form-control">
            <a href="#"  onclick="addIngredients()">Add Ingredients</a>
            <div id="container"></div> -->
            
<!-- ingredient 1 -->
            <label for="liquor0">Liquor:</label>
            <select name="liquor0" id="liquor0" class="form-control">
                <option value="null">Select alcohol..</option>
                {% for alcohol in alcohols %}
                <option value="{{alcohol.id}}">{{alcohol.brand}}</option>
                {% endfor %}
            </select>
            <label for="quantity0">Quantity:</label>
            <br>
            <br>
            <input class="single-slider" type="hidden" value="0" name="quantity0" id="quantity0"/>
            <br>
<!-- ingredient 2 -->
            <label for="liquor1">Liquor:</label>
            <select name="liquor1" id="liquor1" class="form-control">
                <option value="null">Select alcohol..</option>
                {% for alcohol in alcohols %}
                <option value="{{alcohol.id}}">{{alcohol.brand}}</option>
                {% endfor %}
            </select>
            <label for="quantity1">Quantity:</label>
            <br>
            <br>
            <input class="single-slider" type="hidden" value="0" name="quantity1" id="quantity1"/>
            <br>
<!-- ingredient 3 -->
            <label for="liquor2">Liquor:</label>
            <select name="liquor2" id="liquor2" class="form-control">
                <option value="null">Select alcohol..</option>
                {% for alcohol in alcohols %}
                <option value="{{alcohol.id}}">{{alcohol.brand}}</option>
                {% endfor %}
            </select>
            <label for="quantity2">Quantity:</label>
            <br>
            <br>
            <input class="single-slider" type="hidden" value="0" name="quantity2" id="quantity2"/>
            <br>
<!-- ingredient 4 -->
            <label for="liquor3">Liquor:</label>
            <select name="liquor3" id="liquor3" class="form-control">
                <option value="null">Select alcohol..</option>
                {% for alcohol in alcohols %}
                <option value="{{alcohol.id}}">{{alcohol.brand}}</option>
                {% endfor %}
            </select>
            <label for="quantity3">Quantity:</label>
            <br>
            <br>
            <input class="single-slider" type="hidden" value="0" name="quantity3" id="quantity3"/>
            <br>
<!-- ingredient 5 --> 
            <label for="liquor4">Liquor:</label>
            <select name="liquor4" id="liquor4" class="form-control">
                <option value="null">Select alcohol..</option>
                {% for alcohol in alcohols %}
                <option value="{{alcohol.id}}">{{alcohol.brand}}</option>
                {% endfor %}
            </select>
            <label for="quantity4">Quantity:</label>
            <br>
            <br>
            <input class="single-slider" type="hidden" value="0" name="quantity4" id="quantity4"/>
            <br>
<!-- ingredient 6 -->
            <label for="liquor5">Liquor:</label>
            <select name="liquor5" id="liquor5" class="form-control">
                <option value="null">Select alcohol..</option>
                {% for alcohol in alcohols %}
                <option value="{{alcohol.id}}">{{alcohol.brand}}</option>
                {% endfor %}
            </select>
            <label for="quantity5">Quantity:</label>
            <br>
            <br>
            <input class="single-slider" type="hidden" value="0" name="quantity5" id="quantity5"/>
            <br>

            <input type="submit" value="Add">
        </form>
        <div class="mx-auto" style="width: 400px;">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor%}
                </ul>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.single-slider').jRange({
                from: 0,
                to: 6.0,
                step: 0.25,
                scale: [0,1.0,2.0,3.0,4.0,5.0,6.0],
                format: '%s',
                width: 300,
                showLabels: true,
                snap: true
            });
        });
        // function addIngredients(){
        //     console.log("working");
        //     // how many
        //     var number = document.getElementById("total").value;
        //     var liquors = [];
        //     for (var i = 0; i< {{ alcohols }}; i++){
        //         console.log("jinja baby!!")
        //     };
        //     if (number <= 7){
        //     // target location
        //     // var container = document.getElementById("container");
        //     // // removes content in case of hange
        //     // while (container.hasChildNodes()){
        //     //     container.removeChild(container.lastChild);
        //     // }
        //         for (var i=0; i < number; i ++){
        //             console.log("Looping Correctly " + (i+1) + " times.");
        //             var ingredientInput = document.createElement("select");
        //             ingredientInput.type = "select";


        //             var ingredientQuantity = document.createElement("input");

        //         }
        //     }
        //     else{
        //         console.log("Too many ingredients. Must be less than 8.")
        //     }
        // }
    </script>
</body>
</html>