<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Edit {{this_cocktail.name}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">HS here</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/your_bar">Your Bar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/create_cocktail">Create A Cocktail <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/codex">Codex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/log_out">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>    
    </nav>
        <div class="mx-auto" style="width: 450px;">
        <h2>Add a Cocktail</h2>
        <form action="/cocktail_edit_confirm/{{this_cocktail.id}}" method="POST">
            {% csrf_token %}
            <label for="name">Drink Name:</label>
            <input type="text" name="name" id="name" class="form-control" value="{{this_cocktail.name}}">
            <label for="desc">Tell us how to make it</label>
            <textarea name="desc" id="" cols="30" rows="10" class="form-control">{{this_cocktail.desc}}</textarea>
            <input type="submit" value="Add">
        </form>
        <div class="mx-auto" style="width: 400px;">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor%}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>