<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navigation">
        <div id="navigation" class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/home">HS here</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/your_bar">Your Bar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_cocktail">Create A Cocktail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/codex">Codex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/log_out">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>    
    </nav>
    <div class="container">
        <div class="row mx-auto margin_these" style="width: 250px;">
            <h2>Hello, {{request.session.user}}</h2>
        </div>
        <div class="row">
            <div class="col px-md-5 pad_these">
                <h1>Your Bar</h1>
                {% load static%}
                <a href="/your_bar"><img class="home_img" src="{% static 'images/your_bar.jpg' %}" alt="Your Bar" ></a>
            </div>
            <div class="col px-md-5 pad_these">
                <h1>Add a Drink</h1>
                <a href="/create_cocktail"><img class="home_img" src="{% static 'images/add_drink.jpg' %}" alt="Create Cocktail"></a>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto pad_these" style="width: 420px;">
                <h1>Codex</h1>
                <a href="/codex"><img class="home_img" src="{% static 'images/codex.jpg' %}" alt="Create Cocktail"></a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>