<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Your Bar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navigation">
        <div id="navigation" class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/home">HS here</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/your_bar">Your Bar <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_cocktail">Create A Cocktail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/codex">Codex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/log_out">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>    
    </nav>
    <div class="mx-auto pad_these" style="width: 450px;">
    
        <h2>Add to your stock</h2>
        <form action="/add_alcohol" method="POST">
            {% csrf_token %}
            <label for="brand">Alcohol Brand:</label>
            <input type="text" name="brand" id="brand" class="form-control">
            <label for="alcohol_type">Type:</label>
            <select name="alcohol_type" id="alcohol_type" class="form-control">
                <option value="null">Select a type..</option>
                <option value="Amaro">Amaro</option>
                <option value="Aperitif">Aperitif</option>
                <option value="Bourbon">Bourbon</option>
                <option value="Brandy">Brandy</option>
                <option value="Fortified Wine">Fortified Wine</option>
                <option value="Fruit Juice">Fruit Juice</option>
                <option value="Gin">Gin</option>
                <option value="Mezcal">Mezcal</option>
                <option value="Rum">Rum</option>
                <option value="Scotch">Scotch</option>
                <option value="Simple Syrup">Simple Syrup</option>
                <option value="Tequila">Tequila</option>
                <option value="Vodka">Vodka</option>
                <option value="Whiskey">Whiskey</option>
                <option value="Other">Other</option>
            </select>
            <label for="cost">Shelf Price:</label>
            <input type="number" id="cost" name="cost" step="0.01" class="form-control">
            <input type="submit" value="Add">
        </form>
        {% if messages %}
        <div class="mx-auto pad_these" style="width: 400px;">
            <ul id="messages">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor%}
            </ul>
        </div>
        {% endif %}
    </div>
    <h3>Your Bottles:</h3>
    <table class="table table-striped mx-auto" style="width: 1300px;">
        <thead class="thead-dark">
            <tr>
                <th>Brand</th>
                <th>Type</th>
                <th>Price</th>
                <th>Cost per Oz.</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for bottle in user.bottles_owned.all %}
            <tr>
                <th scope="row">{{bottle.brand}}</th>
                <td>{{bottle.alcohol_type}}</td>
                <td>{{bottle.cost}}</td>
                <td>{{bottle.ppo}}</td>
                <td><a href="/remove_alcohol/{{bottle.id}}">Remove </a>|<a href="/edit_alcohol/{{bottle.id}}"> Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- this is code for all bottles in the DB
    <h3>All Bottles:</h3>
    <table class="table table-striped mx-auto" style="width: 1300px;">
        <thead class="thead-dark">
            <tr>
                <th>Brand</th>
                <th>Type</th>
                <th>Price</th>
                <th>Cost per Oz.</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for bottle in bottles%}
            <tr>
                <th scope="row">{{bottle.brand}}</th>
                <td>{{bottle.alcohol_type}}</td>
                <td>{{bottle.cost}}</td>
                <td>{{bottle.ppo}}</td>
                <td><a href="/remove_alcohol/{{bottle.id}}">Remove </a>|<a href="/edit_alcohol/{{bottle.id}}"> Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table> -->
</body>
</html>